.kiji{
	list-style-type: none;
	/*background-color: #f8f8f8;*/
}
#kijis{
	margin-left: 0px;
}
.kiji_entity li{
	list-style-type: none;
	padding: 15px;
	/*color: white;*/
}
.kiji_midashi{
	border-left: 6px solid #d84a38;
	padding: 1px;
	margin-bottom: 10px;
}
.kiji_stockprice{
	margin-left: 10px;
	background-color: #e6e6e6;
	margin-bottom: 2px;
}
.kiji_stockprice_p{
	color: white;
	margin-left: 10px;
	background-color: #4d90fe;
	margin-bottom: 2px;
}
.kiji_stockprice_n{
	color: white;
	margin-left: 10px;
	background-color: #d84a38;
	margin-bottom: 2px;
}
.kiji_brand{
	background-color: #35aa47;
}
.kiji_rate_0{
	color: white;
	background-color: #555555;
}
.kiji_rate_1{
	color: white;
	background-color: #4d90fe;
}
.kiji_rate_2{
	color: white;
	background-color: #d84a38;
}

.row-fluid [class*="span"]{
margin-left: 0;
}
.annotationField{
	margin-bottom: 5px;
}
.pagination li{
	float: left;
	list-style-type: none;
	padding-bottom: 15px;
}
.star li{
	color: #f8be2c;
	font-size: 25px;
	padding: 0px;
}
h4{
	font-weight: bold;
}
h5{
	font-weight: bold;
}
strong{
	color: #d84a38;
}