/*
    Document   : style
    Created on : 2013/05/15, 15:31:36
    Author     : kazuki
    Description:
        Purpose of the stylesheet follows.
*/
body {
	font-family: "Meiryo"
}

.navbar-inverse .brand {
    color : whitesmoke;
}

.page-sidebar > ul > li.start {
    margin-top: 10px;
}

input.m-wrap {
	background: #fff !important;
}

.search-default .chat-form {
	position: static;
}

#input_brand_name {
	float: left;
}

.query-log {
	float: left;
	margin: 0px 10px 5px 0px;
	padding: 5px 30px 5px 5px;
}

.close {
	margin-top: 5px;
}